<h1>List of Photos</h1>

<% if user_signed_in? %>
  <%= form_with(model: Photo.new, local: true, html: { multipart: true }) do |f| %>
    <table>
      <tr>
        <td><%= f.label :image, 'Image' %><br><%= f.file_field :image %></td>
        <td><%= f.label :caption, 'Caption' %><br><%= f.text_field :caption, placeholder: 'Enter a caption for the photo' %></td>
        <td><%= f.submit 'Add Photo', class: 'btn btn-primary' %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<% if @photos.blank? %>
  <p>No photos to display.</p>
<% else %>
  <table border="1">
    <thead>
      <tr>
        <th>Image</th>
        <th>Owner</th>
        <th>Caption</th>
        <th>Posted</th>
        <th>Likes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @photos.each do |photo| %>
        <% if photo %>
          <tr>
            <td>
              <%= image_tag(photo.image.url || "no_image_available.png", width: 100, height: 100) %>
            </td>
            <td>
              <%= photo.owner&.username %>
            </td>
            <td><%= photo.caption || "No caption provided" %></td>
            <td><%= time_ago_in_words(photo.created_at) %> ago</td>
            <td><%= photo.likes.count %></td>
            <td>
              <%= link_to 'Show details', photo_path(photo), class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% else %>
          <tr><td colspan="6">Invalid photo entry detected.</td></tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
