<h1>List of Photos</h1>

<% if user_signed_in? %>
  <%= form_with(model: Photo.new, local: true, html: { multipart: true }) do |f| %>
    <table>
      <tr>
        <td><%= f.label :image, 'Image' %><br><%= f.file_field :image %></td>
        <td><%= f.label :caption, 'Caption' %><br><%= f.text_field :caption, placeholder: 'Enter a caption for the photo' %></td>
        <td><%= f.submit 'Add Photo', class: 'btn btn-primary' %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<table class="table photo-grid" border="1">
  <thead>
    <tr>
      <th>Image</th>
      <th>Caption</th>
      <th>Owner</th>
      <th>Posted</th>
      <th>Likes</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td>
          <% if photo.image.present? %>
            <%= image_tag(photo.image.url, alt: photo.caption || "No caption") if photo.image.url.present? %>
          <% else %>
            <span>No Image Available</span>
          <% end %>
        </td>
        <td><%= photo.caption || 'No caption provided' %></td>
        <td>
          <% if photo.owner %>
            <%= link_to photo.owner.username, user_path(photo.owner) %>
          <% else %>
            <span>Unknown Owner</span>
          <% end %>
        </td>
        <td><%= time_ago_in_words(photo.created_at) %> ago</td>
        <td><%= photo.likes.count %></td>
        <td><%= link_to 'Show details', photo_path(photo), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
