<h1>List of Photos</h1>

<table class="table photo-grid" border="1">
  <thead>
    <tr>
      <th>Image</th>
      <th>Caption</th>
      <th>Owner</th>
      <th>Posted</th>
      <th>Likes</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td>
          <%= image_tag(photo.image.url, alt: photo.caption) if photo.image.present? %>
        </td>
        <td><%= photo.caption %></td>
        <td><%= link_to photo.owner.username, user_path(photo.owner) %></td>
        <td><%= time_ago_in_words(photo.created_at) %> ago</td>
        <td><%= photo.likes.count %></td>
        <td><%= link_to 'Show details', photo_path(photo), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
